table, tr, th, td {
    border: none;
    border-collapse: collapse;
    text-align: center;
}

table {
    width:  80%;
    margin: 0 auto;
}
table th {
    padding: 0.5rem;
    background-color: #eee;
}
table td {
    padding: 0.3rem;
}