h1, p {
    text-align: center;
}
div.mypage {
    border: 1px solid #444444;
    width: 50%;
    margin: 10px auto;
    border-radius: 5px;
}

div.mypage input {
    border: none;
    border: 1px solid #cecece;
    border-radius: 5px;
}

button.logout {
    margin-left: auto;
    display: block;
    font-weight: bold;
    padding: 12px 20px;
}