<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--  jQuery의 최신 버전 가져오기  -->
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script th:inline="javascript">
        const rootPath= /*[[ @{/} ]]*/ null
    </script>
    <script th:src="@{/static/js/nav.js}"></script>
    <link rel="stylesheet" th:href="@{/static/css/main.css}">
    <link rel="stylesheet" th:href="@{/static/css/write.css}">
    <link rel="stylesheet" th:href="@{/static/css/list.css}">
    <link rel="stylesheet" th:href="@{/static/css/login.css}">
    <link rel="stylesheet" th:href="@{/static/css/mypage.css}">
    <title>똑소리 독서록</title>
</head>
<body>
<th:block th:replace="fragment/headerAndFooter :: headerFragment"></th:block>
<th:block th:replace="fragment/nav :: navFragment"></th:block>
<th:block layout:fragment="content"></th:block>
<th:block th:replace="fragment/headerAndFooter :: footerFragment"></th:block>
</body>
</html>
